@font-face {
  font-family: "Noto Sans";
  src: url("fonts/Noto_sansCJKtc-hinted/NotoSansCJKtc-Regular.otf");
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/Noto_SerifCJKtc-hinted/NotoSerifCJKtc-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata/Inconsolata-Regular.ttf");
}
::-webkit-scrollbar {
  width: 0.5rem;
}
height: 0.5rem,
::-webkit-scrollbar-track {
  background-color: #f9fafa;
}
::-webkit-scrollbar-thumb {
  background-color: #33474d;
}
